/* You can add global styles to this file, and also import other style files */

:root {
  --color-primary: hsl(217, 19%, 35%);
  --color-secondary: hsl(214, 17%, 51%);
  --color-terciary: hsl(212, 23%, 69%);
  --color-fondo: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  background-color: var(--color-fondo);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45rem;
  min-height: 90vh;
  margin: 0 auto;
}

/*CARD*/
.card {
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  background-color: #fff;
}

.card__container-image {
  flex-basis: 40%;
  display: flex;
}

.card__image {
  width: 100%;
  height: auto;
  border-radius: 1rem 0 0 1rem;
}

.card__container-content {
  flex-basis: 60%;
  padding: 2rem;
}

.card__title {
  font-size: 1.2rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.card__description {
  color: var(--color-secondary);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.card__container-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container__author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container__author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.author__image {
  width: 100%;
  border-radius: 50%;
}

.author__name {
  font-size: 1rem;
  color: var(--color-primary);
  margin-bottom: 0.2rem;
}

.author__date {
  font-size: 0.8rem;
  color: var(--color-terciary);
}

.button__share {
  background-color: var(--color-fondo);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button__icon {
  color: var(--color-secondary);
}

.button__share:hover {
  background-color: var(--color-primary);
}

.button__share:hover .button__icon {
  color: #fff;
}

/* FOOTER */
.footer { font-size: 0.75rem; text-align: center; padding: 1rem; }
.footer a { color: hsl(228, 45%, 44%); }

/* MOBILE SCREEN */
@media (max-width:756px) {
  .main {
    width: 95%;
  }
}

@media (max-width:570px) {
  .main {
    width: 90%;
    padding: 2rem 0;
  }

  .card {
    flex-direction: column;
  }

  .card__container-image,
  .card__image {
    border-radius: 1rem 1rem 0 0;
  }
}
